<html lang="en">
{{> templates/partials/html/header.html}}
<body>
{{#templateCustomization}}
{{#if headerEnabled}}
<h1 class="center center-text">{{mainName}}</h1>
<p class="center-text"> {{mainDescription}}</p>
{{/if}}
{{/templateCustomization}}
{{> templates/partials/html/toc.html}}
<div class="center">
    <table class="table">
        <thead>
        <tr>
            {{#is_included "key"}}<th>{{i18n "template.key"}}</th>{{/is_included}}
            {{#is_included "type"}}<th>{{i18n "template.type"}}</th>{{/is_included}}
            {{#is_included "description"}}<th>{{i18n "template.description"}}</th>{{/is_included}}
            {{#is_included "defaultValue"}}<th>{{i18n "template.defaultValue"}}</th>{{/is_included}}
            {{#is_included "deprecation"}}<th>{{i18n "template.deprecation"}}</th>{{/is_included}}
            {{#is_included "envFormat"}}<th>{{i18n "template.environmentVariable"}}</th> {{/is_included}}
        </tr>
        </thead>
        <tbody>
