<html lang="en">
<head>
    <title>{{name}}</title>
    <style>
        .center {
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
        .center-text {
            text-align: center;
        }

        .table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            font-family: sans-serif;
            table-layout: fixed ;
            width: 100% ;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }

        .table thead tr {
            background-color: #00812c;
            color: #ffffff;
            text-align: left;
        }

        .table th,
        .table td {
            padding: 12px 15px;
        }

        .table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

        .table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .table tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }

        .table tbody tr.active-row {
            font-weight: bold;
            color: #009879;
        }
    </style>

</head>
<body>

<h1 class="center center-text">{{name}}</h1>

<p class="center-text"> {{description}}</p>
{{#each propertyGroups}}
<div class="center">
    <h2>{{name}}</h2>
    <h3>{{type}}</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Key</th>
            <th>Type</th>
            <th>Description</th>
            <th>Default value</th>
            <th>Deprecation</th>
        </tr>
        </thead>
        <tbody>
        {{#each properties}}
            <tr>
                <td>{{key}}</td>
                <td>{{type}}</td>
                <td>{{description}}</td>
                <td>{{defaultValue}}</td>
                <td>{{propertyDeprecation}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <hr>
</div>
{{/each}}
</body>
</html>
