<div class="center">
    <h2 id="{{moduleName}}">{{moduleName}}</h2>
    {{moduleDescription}}
    {{#each propertyGroups}}
        <h2 id="{{groupName}}">{{groupName}}</h2>
        <b>Class:</b> <code>{{type}}</code>
        <table class="table">
            <thead>
            <tr>
                <th>Key</th>
                <th>Type</th>
                <th>Description</th>
                <th>Default value</th>
                <th>Deprecation</th>
                {{#include_env_format ../../this}}<th>Environment variable</th> {{/include_env_format}}
            </tr>
            </thead>
            <tbody>
            {{#each properties}}
                <tr>
                    <td>{{key}}</td>
                    <td>{{type}}</td>
                    <td>{{description}}</td>
                    <td>{{defaultValue}}</td>
                    <td>{{propertyDeprecation}}</td>
                    {{#include_env_format ../../this}}<td>{{as_env fqName}}</td> {{/include_env_format}}
                </tr>
            {{/each}}
            </tbody>
        </table>
        <hr>
    {{/each}}
</div>
