<div class="center">
    <h2 id="{{moduleName}}">{{moduleName}}</h2>
    {{moduleDescription}}
    {{#each propertyGroups}}
        <h2 id="{{groupName}}">{{groupName}}</h2>
        <b>{{i18n "template.class"}}:</b> <code>{{type}}</code>
        <table class="table">
            <thead>
            <tr>
                <th>{{i18n "template.key"}}</th>
                <th>{{i18n "template.type"}}</th>
                <th>{{i18n "template.description"}}</th>
                <th>{{i18n "template.defaultValue"}}</th>
                <th>{{i18n "template.deprecation"}}</th>
                {{#include_env_format ../../this}}<th>{{i18n "template.environmentVariable"}}</th> {{/include_env_format}}
            </tr>
            </thead>
            <tbody>
            {{#each properties}}
                <tr>
                    <td>{{key}}</td>
                    <td>{{type}}</td>
                    <td>{{description}}</td>
                    <td>{{defaultValue}}</td>
                    <td>{{propertyDeprecation}}</td>
                    {{#include_env_format ../../this}}<td>{{as_env fqName}}</td> {{/include_env_format}}
                </tr>
            {{/each}}
            </tbody>
        </table>
        <hr>
    {{/each}}
</div>
