<div class="center">
    {{~#if moduleName ~}}
    <h2 id="{{moduleName}}">{{moduleName}}</h2>
    {{~/if ~}}
    {{moduleDescription}}
    {{#each propertyGroups ~}}
    <h2 id="{{#if moduleName}}{{moduleName}}-{{/if}}{{groupName}}">{{groupName}}</h2>
    {{#is_included "class" ~}}
        <b>{{i18n "template.class"}}:</b> <code>{{type}}</code>
    {{/is_included ~}}
    <table class="table">
        {{> templates/partials/html/content-table-header.html}}
        <tbody>
        {{#each properties ~}}
            <tr>
                {{#is_included "key" ~}}
                <td>{{key}}</td>
                {{/is_included ~}}
                {{#is_included "type" ~}}
                <td>{{type}}</td>
                {{/is_included ~}}
                {{#is_included "description" ~}}
                <td>{{description}}</td>
                {{/is_included ~}}
                {{#is_included "defaultValue" ~}}
                <td>{{defaultValue}}</td>
                {{/is_included ~}}
                {{#is_included "deprecation" ~}}
                <td>{{propertyDeprecation}}</td>
                {{/is_included ~}}
                {{#is_included "envFormat" ~}}
                <td>{{as_env fqName}}</td>
                {{/is_included ~}}
            </tr>
        {{/each ~}}
        </tbody>
    </table>
    <hr>
    {{/each ~}}
</div>
