<head>
    <title>{{mainName}}</title>
    <style>
        {{#templateCustomization}}
        :root {
            --background-color: {{backgroundColor}};
            --link-color: {{linkColor}};
            --collapsible-hover-color: {{collapsibleHoverColor}};
            --code-color: {{codeColor}};
            --even-table-row-color: {{evenTableRowColor}};
            --last-table-row-color: {{lastTableRowColor}};
            --table-row-color: {{tableRowColor}};
            --table-row-border-color: {{tableRowBorderColor}};
            --text-color: {{textColor}}
        }
        {{/templateCustomization}}

        .top {
            --offset: 50px;

            position: sticky;
            bottom: 20px;
            left: 95%;
            place-self: end;
            margin-top: calc(100vh + var(--offset));

            /* visual styling */
            text-decoration: none;
            padding: 10px;
            font-family: sans-serif;
            color: #fff;
            background: var(--background-color);
            border-radius: 100px;
            white-space: nowrap;
        }

        html,
        body {
            scroll-behavior: smooth;
            color: var(--text-color);
        }

        .center {
            margin-left: auto;
            margin-right: auto;
            width: 85%;
        }
        .center-text {
            text-align: center;
        }

        .table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            font-family: sans-serif;
            table-layout: fixed ;
            width: 100% ;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }

        .table thead tr {
            background-color: var(--background-color);
            color: var(--table-row-color);
            text-align: left;
        }

        .table th,
        .table td {
            padding: 12px 15px;
        }

        .table tbody tr {
            border-bottom: 1px solid var(--table-row-border-color);
        }

        .table tbody tr:nth-of-type(even) {
            background-color: var(--even-table-row-color);
        }

        .table tbody tr:last-of-type {
            border-bottom: 2px solid var(--last-table-row-color);
        }

        code {
            background-color: var(--code-color);
        }

        .collapsible {
            background-color: var(--background-color);
            color: var(--text-color);
            cursor: pointer;
            padding: 18px;
            border: none;
            width: 100%;
            text-align: left;
            outline: none;
            font-size: 15px;
        }

        .active, .collapsible:hover {
            background-color: var(--collapsible-hover-color)
        }

        #toc-content {
            padding: 0 18px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.5s ease-out;
        }

        #toc-content.visible {
            max-height: 200vh;
            transition: max-height 0.5s ease-in;
        }

        a {
            font-family: sans-serif;
            color: var(--link-color);
        }
    </style>
</head>
